/*style body with background info- set to cover, add font family*/
body{
    font-family: Arvo, serif;
    background: url(http://freenaturestock.s3.amazonaws.com/579.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/*style brand*/
.logo{
    height: 30px;
}

/*style navbar*/
#mynavBar {
    background: rgba(0,0,0,0.5)
}

.navbar-nav li {
    color: #ffffff;
    font-size: 17px;
    margin-right: 35px;
    padding: 10px 0;
}

.navbar-nav li:hover {
   border-bottom: 1 px solid #00FFB8;
   padding-bottom: 9px;
   cursor: pointer;
}

/*style jumbotron*/
.jumbotron {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 50px;
    letter-spacing: 2.5px;
}

/*limit width of icons section*/
.container {
    max-width: 1000px;
}

/*style icons using bootstrap grid*/
.bodyimage {
    height: 100px;
    padding-bottom: 20px;
}

.col-md-4 {
    text-align: center;
    color: #ffffff;
}

.icons p {
    font-size: 15px;
}

/*stye contact button*/
.contact {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.btn {
    background-color: rgba(0,255,184,0.5);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 70px;
    letter-spacing: 1.3px;
}

.btn:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;

}

/*style footer*/
.footer {
    background-color: rgba(0,0,0,0.5);
    color: grey;
    font-size: 15px;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    
}



